{% extends 'auctions/layout.html' %}

{% block body %}
    {% include 'auctions/messages.html' %}

    {# Display item (listing) page #}
    <h2 class="d-flex center mb-3">{{ listing.title }}, {{ listing.condition }}
    {% if not listing.active %}
        <small><span class="badge badge-danger ml-2">Closed</span></small>
    {% endif %}
    </h2>
    <p>
    <a href="{% url 'close_listing' listing.listing_id %}">close</a> •
    <a href="{% url 'delete_listing' listing.listing_id %}">delete</a> •
    <a href="{% url 'update_listing' listing.listing_id %}">update</a>
    </p>

    <img class="img-fluid d-block mx-auto my-3" style="max-width: 100%" src="{{ listing.photo_url }}">

    <p><b>Time left:</b></p>
    <p>{{ listing.end_datetime|timeuntil }}</p>

    <p><strong>Current (highest) bid:</strong></p>
    <p><em class="display-4">${{ listing.current_bid }}</em> &ensp; [{{ listing.bid_count }} bid(s) so far]</p>

    <!-- Watch button -->
    {% if not is_watcher %}
        <p><a class="btn btn-outline-success px-4" style="font-size: 1.3rem;" href="{% url 'watch' listing.listing_id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16"> <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg> Add to Watchlist</a></p>
    {% else %}
        <p><a class="btn btn-outline-danger px-4" style="font-size: 1.3rem;" href="{% url 'watch' listing.listing_id %}"><i class="bi bi-heart"></i> Remove from Watchlist</a></p>
    {% endif %}

    {% if listing.description %}
        <p><strong>Description:</strong></p>
        <p>{{ listing.description }}</p>
    {% endif %}

    <p><strong>Sellar information:</strong><p>
    <ul>
        <li>Account: {{ listing.seller|capfirst }}</li>
        <li>Email: <a href="mailto://{{listing.seller.email}}">{{ listing.seller.email }}</a></li>
        <li>Phone: <a href="tel://{{listing.sellar.phone}}">{{ listing.seller.phone }}</a></li>
    </ul>

    {% if listing.active%}
        <p><strong>Place your bid:</strong></p>
        <form action="{% url 'bid' listing.listing_id %}" method="POST">
            {% csrf_token %}
            {{ bid_form.bid }}
            <span class="form-text text-muted">Enter ${{ listing.current_bid|add:'1' }} or more</span>
            <input class="btn btn-primary mt-3" type="submit" value="Place bid">
        </form>
    {% endif %}

    <p class="my-3"><strong>Comments:</strong><p>

    {# Render user comments #}
    {% for comment in comments %}
        <p><b>{{ comment.user }}</b> posted on {{ comment.post_datetime }}<p>
        {{ comment }}
        <hr>
    {% empty %}
        <i>You will be first!</i>
    {% endfor %}
    
    {# Render comment form #}
    <form action="{% url 'comment' listing.listing_id %}" method="POST">
        {% csrf_token %}
        {{ comment_form.comment }}
        <input class="btn btn-primary mt-3" type="submit" value="Post comment">
    </form>

{% endblock body %}