{% extends "auctions/layout.html" %}
{% load i18n %}

{% block body %}
    <h2>{% trans "Active Listings" %}</h2>
    
    {% include 'auctions/messages.html' %}

    {% for listing in listings %}

        <div class="f-flex">
            <div>
                {# Render image #}
                <img src="{{ listing.photo_url }}" alt="Listing photo" height="150" class="float-left mr-4" >
            </div>
            <div class="flex-wrap">
                <h4><a href="{% url 'listing' listing.listing_id %}">{{ listing.title }}</a></h4>
                <p>{% trans "Price:" %} <em>${{ listing.starting_price }}</em></p>
                <p>
                {% if listing.is_started %}
                    {% trans "Started:" %}
                {% else %}
                    {% trans "Starts:" %}
                {% endif %}
                {{ listing.start_datetime }}
                </p>
                <p>{% trans "Ends:" %} {{ listing.end_datetime }}</p>
            </div>
        </div>
        <hr>

    {% empty %}
        <p> {% blocktrans trimmed %}
            No active listings
        {% endblocktrans %}</p>
    {% endfor %}

{% endblock %}