{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    
    {% include 'auctions/messages.html' %}

    {% for listing in listings %}
        <h4><a href="{% url 'listing' listing.listing_id %}">{{ listing.title }}</a></h4>
        <p>Price: <em>${{ listing.starting_price }}</em></p>
        {% if listing.is_started %}
            Started:
        {% else %}
            Starts:
        {% endif %}
        {{ listing.start_datetime }}
        </p>
        <p>Ends: {{ listing.end_datetime }}</p>
        <hr>
    {% empty %}
        <p>No active listings</p>
    {% endfor %}

{% endblock %}